grid-lock {
  padding: 0 13px;
  max-width: 1100px;
  margin: 0 auto;
  display: block;

  @include breakpoint(--medium-min) {
    padding: 0 20px;
  }

  &[data-padding='0'],
  &[data-padding='none'] {
    padding: 0;
  }
}
